/**
 * This file provides the main design styles for the page content.
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 */


/*____________ section indenting ____________*/

.nb .page h1 {
	text-align: left;
}

.nb .page li {
	margin-bottom: .5rem;
}

.nb .page li > ul {
	margin-top: .5rem;
}

/*.nb .page  h2 {margin-left: .666em;}
.nb .page  h3 {margin-left: 1.776em;}
.nb .page  h4 {margin-left: 3em;}
.nb .page  h5 {margin-left: 4.5712em;}
.nb .page  div.level1 {margin-left: 0;}
.nb .page  div.level2 {margin-left: 1em;}
.nb .page  div.level3 {margin-left: 2em;}
.nb .page  div.level4 {margin-left: 3em;}
.nb .page  div.level5 {margin-left: 4em;}

[dir=rtl] .nb .page h1 {margin-left: 0; margin-right: 0;}
[dir=rtl] .nb .page h2 {margin-left: 0; margin-right: .666em;}
[dir=rtl] .nb .page h3 {margin-left: 0; margin-right: 1.776em;}
[dir=rtl] .nb .page h4 {margin-left: 0; margin-right: 3em;}
[dir=rtl] .nb .page h5 {margin-left: 0; margin-right: 4.5712em;}
[dir=rtl] .nb .page div.level1 {margin-left: 0; margin-right: 0;}
[dir=rtl] .nb .page div.level2 {margin-left: 0; margin-right: 1em;}
[dir=rtl] .nb .page div.level3 {margin-left: 0; margin-right: 2em;}
[dir=rtl] .nb .page div.level4 {margin-left: 0; margin-right: 3em;}
[dir=rtl] .nb .page div.level5 {margin-left: 0; margin-right: 4em;}
*/
/* hx margin-left = (1 / font-size) * .levelx-margin */

/*____________ links to wiki pages (addition to _links) ____________*/

/* existing wikipage */
.nb a.wikilink1 {
    color: #F0A9B8;
    background-color: inherit;
}
/* not existing wikipage */
.nb a.wikilink2 {
    color: #f30;
    background-color: inherit;
}


/*____________ images ____________*/

/* embedded images (styles are already partly set in DokuWiki's lib/styles/all.css) */
.nb img.media {
    margin: .2em 0;
}
.nb img.medialeft {
    margin: .2em 1.5em .2em 0;
}
.nb img.mediaright {
    margin: .2em 0 .2em 1.5em;
}
.nb img.mediacenter {
    margin: .2em auto;
}


/*____________ tables ____________*/

/* div before each table */
.nb div.table {
}

.nb table.inline {
    min-width: 50%;
}
.nb table.inline tr:hover td {
    background-color: #1e1a2d;
}
.nb table.inline tr:hover th {
    background-color: #333;
}


/*____________ code ____________*/

/* fix if background-color hides underlining */
.nb em.u code {
    text-decoration: underline;
}

/* filenames for downloadable file and code blocks */
.nb dl.code,
.nb dl.file {
}

.nb dl.code dt,
.nb dl.file dt {
    background-color: #1e1a2d;
    border: solid #333;
    border-width: 1px 1px 0;
    color: inherit;
    display: inline;
    padding: .1em .5em .2em;
    margin-left: 1em;
}
[dir=rtl] .nb dl.code dt,
[dir=rtl] .nb dl.file dt {
    margin-left: 0;
    margin-right: 1em;
}
.nb dl.code dt a,
.nb dl.file dt a {
}

.nb dl.code dd,
.nb dl.file dd {
    margin: 0;
}

/* for code in <file> */
.nb pre.file,
.nb dl.file pre,
.nb dl.file dt {
    border-color: #eee;
}


/*____________ media manager ____________*/

/* some headings in the media manager should not look like headings */
#mediamanager__page h2,
#mediamanager__page h3 {
    font-family: Frutiger, Calibri, Myriad, "Nimbus Sans L", Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ccc;
}

/* to style button-like div in _fileuploader.css to look like other buttons,
   please add '.qq-upload-button' to the according styles (which don't really exist in this template) */
.qq-upload-button {
    border: 1px solid #333;
    background-color: #1e1a2d;
    padding: 0.125em 0.4em;
}

/*____________ styling plugin ____________*/

#plugin__styling.ispopup {
    padding: 1em;
}


/*____________ JS popup ____________*/

.JSpopup {
    background-color: #1e1a2d;
    color: #ccc;
    border: 1px solid #333;
    line-height: 1.2;
    padding: 0 .2em;
}

.JSpopup ul,
.JSpopup ol {
    padding-left: 0;
}
[dir=rtl] .JSpopup ul,
[dir=rtl] .JSpopup ol {
    padding-right: 0;
}

