/**
 * Responsive styles for mobile and small screens.
 */

@media only screen and (max-width: 1000px) {
	
#nb-toc {
	float: none;
	width: auto;
	max-width: 20rem;
	margin-left: auto;
	margin-right: auto;
}

}

@media only screen and (max-width: 770px) {

.wrapper .main {
	margin-left: .5em;
	margin-right: .5em;
}

.sidepanel {
	box-sizing: border-box;
	width: 100% !important;
	padding-top: 4rem !important;
	background: #1e1a2d;

	position: fixed;
	top: 0;
	left: -100%;
	height: 100%;
	transition: left .5s;
	z-index: 100;
	overflow-y: auto;
}

#sidepanel_hamburger {
	position: fixed;
	top: 0;
	left: 0;
	display: block !important;
	margin: .75rem;
	width: 2em;
	height: 2em;
	z-index: 101;
}

#sidepanel_hamburger svg {
	height: auto;
}

.sidepanel.opened {
	left: 0;
}



#nb-footer > .container {
	flex-direction: column;
	align-items: center;
}
#nb-footer > .container > * {
	min-width: 16rem;
}

} /* /@media */