{{ define "main" }}
<article>
    <h1>Page Not Found</h1>

    <p>You've followed a link to a page that doesn't exist yet.</p>

    <p>This might be because:</p>
    <ul>
        <li>The page has been moved or deleted</li>
        <li>The URL was typed incorrectly</li>
        <li>The content hasn't been created yet</li>
    </ul>

    <h2>What can you do?</h2>
    <ul>
        <li><a href="/">Go to the homepage</a></li>
        <li><a href="/posts/">Browse the blog</a></li>
        <li><a href="/building-an-os/">Check out the OS development tutorial</a></li>
        <li>Use the search in the sidebar</li>
    </ul>
</article>
{{ end }}
